<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chevrolet.dal.dao.mapper.CarMapper">

    <resultMap id="BaseResultMap" type="com.chevrolet.dal.dao.domain.CarDO">
        <id column="car_id" jdbcType="BIGINT" property="carId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="brand_id" jdbcType="BIGINT" property="brandId" />
        <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
        <result column="car_unique" jdbcType="VARCHAR" property="carUnique" />
        <result column="emission" jdbcType="VARCHAR" property="emission" />
        <result column="img_behind" jdbcType="VARCHAR" property="imgBehind" />
        <result column="img_damage" jdbcType="VARCHAR" property="imgDamage" />
        <result column="img_front" jdbcType="VARCHAR" property="imgFront" />
        <result column="img_interior" jdbcType="VARCHAR" property="imgInterior" />
        <result column="img_mileage" jdbcType="VARCHAR" property="imgMileage" />
        <result column="img_nameplate" jdbcType="VARCHAR" property="imgNameplate" />
        <result column="inner_color_id" jdbcType="BIGINT" property="innerColorId" />
        <result column="inner_color_name" jdbcType="VARCHAR" property="innerColorName" />
        <result column="model_id" jdbcType="BIGINT" property="modelId" />
        <result column="model_name" jdbcType="VARCHAR" property="modelName" />
        <result column="odometer" jdbcType="VARCHAR" property="odometer" />
        <result column="outer_color_id" jdbcType="BIGINT" property="outerColorId" />
        <result column="outer_color_name" jdbcType="VARCHAR" property="outerColorName" />
        <result column="production_date" jdbcType="VARCHAR" property="productionDate" />
        <result column="series_id" jdbcType="BIGINT" property="seriesId" />
        <result column="series_name" jdbcType="VARCHAR" property="seriesName" />
        <result column="spec_id" jdbcType="INTEGER" property="specId" />
        <result column="spec_name" jdbcType="VARCHAR" property="specName" />
        <result column="car_desc" jdbcType="VARCHAR" property="carDesc" />
        <result column="guide_price" jdbcType="VARCHAR" property="guidePrice" />
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
        <result column="car_source" jdbcType="INTEGER" property="carSource" />
        <result column="asset_right" jdbcType="BIGINT" property="assetRight" />
        <result column="asset_right_name" jdbcType="VARCHAR" property="assetRightName" />
        <result column="asset_right_type" jdbcType="INTEGER" property="assetRightType" />
        <result column="asset_right_in_change" jdbcType="INTEGER" property="assetRightInChange" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        car_id,gmt_create,gmt_modified,brand_id,brand_name,car_unique,emission,img_behind,img_damage,img_front,img_interior,img_mileage,img_nameplate,inner_color_id,inner_color_name,model_id,model_name,odometer,outer_color_id,outer_color_name,production_date,series_id,series_name,spec_id,spec_name,car_desc,guide_price,is_deleted,car_source,asset_right,asset_right_name,asset_right_type,asset_right_in_change
    </sql>

    <select id="selectByQuery" parameterType="com.chevrolet.dal.dao.domain.query.CarQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from cc_car
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from cc_car where car_id = #{carId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from cc_car where car_id = #{carId,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.chevrolet.dal.dao.domain.CarDO">
        <selectKey keyProperty="carId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into cc_car
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="brandName != null">
                brand_name,
            </if>
            <if test="carUnique != null">
                car_unique,
            </if>
            <if test="emission != null">
                emission,
            </if>
            <if test="imgBehind != null">
                img_behind,
            </if>
            <if test="imgDamage != null">
                img_damage,
            </if>
            <if test="imgFront != null">
                img_front,
            </if>
            <if test="imgInterior != null">
                img_interior,
            </if>
            <if test="imgMileage != null">
                img_mileage,
            </if>
            <if test="imgNameplate != null">
                img_nameplate,
            </if>
            <if test="innerColorId != null">
                inner_color_id,
            </if>
            <if test="innerColorName != null">
                inner_color_name,
            </if>
            <if test="modelId != null">
                model_id,
            </if>
            <if test="modelName != null">
                model_name,
            </if>
            <if test="odometer != null">
                odometer,
            </if>
            <if test="outerColorId != null">
                outer_color_id,
            </if>
            <if test="outerColorName != null">
                outer_color_name,
            </if>
            <if test="productionDate != null">
                production_date,
            </if>
            <if test="seriesId != null">
                series_id,
            </if>
            <if test="seriesName != null">
                series_name,
            </if>
            <if test="specId != null">
                spec_id,
            </if>
            <if test="specName != null">
                spec_name,
            </if>
            <if test="carDesc != null">
                car_desc,
            </if>
            <if test="guidePrice != null">
                guide_price,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="carSource != null">
                car_source,
            </if>
            <if test="assetRight != null">
                asset_right,
            </if>
            <if test="assetRightName != null">
                asset_right_name,
            </if>
            <if test="assetRightType != null">
                asset_right_type,
            </if>
            <if test="assetRightInChange != null">
                asset_right_in_change,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="brandId != null">
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="carUnique != null">
                #{carUnique,jdbcType=VARCHAR},
            </if>
            <if test="emission != null">
                #{emission,jdbcType=VARCHAR},
            </if>
            <if test="imgBehind != null">
                #{imgBehind,jdbcType=VARCHAR},
            </if>
            <if test="imgDamage != null">
                #{imgDamage,jdbcType=VARCHAR},
            </if>
            <if test="imgFront != null">
                #{imgFront,jdbcType=VARCHAR},
            </if>
            <if test="imgInterior != null">
                #{imgInterior,jdbcType=VARCHAR},
            </if>
            <if test="imgMileage != null">
                #{imgMileage,jdbcType=VARCHAR},
            </if>
            <if test="imgNameplate != null">
                #{imgNameplate,jdbcType=VARCHAR},
            </if>
            <if test="innerColorId != null">
                #{innerColorId,jdbcType=BIGINT},
            </if>
            <if test="innerColorName != null">
                #{innerColorName,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null">
                #{modelId,jdbcType=BIGINT},
            </if>
            <if test="modelName != null">
                #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="odometer != null">
                #{odometer,jdbcType=VARCHAR},
            </if>
            <if test="outerColorId != null">
                #{outerColorId,jdbcType=BIGINT},
            </if>
            <if test="outerColorName != null">
                #{outerColorName,jdbcType=VARCHAR},
            </if>
            <if test="productionDate != null">
                #{productionDate,jdbcType=VARCHAR},
            </if>
            <if test="seriesId != null">
                #{seriesId,jdbcType=BIGINT},
            </if>
            <if test="seriesName != null">
                #{seriesName,jdbcType=VARCHAR},
            </if>
            <if test="specId != null">
                #{specId,jdbcType=INTEGER},
            </if>
            <if test="specName != null">
                #{specName,jdbcType=VARCHAR},
            </if>
            <if test="carDesc != null">
                #{carDesc,jdbcType=VARCHAR},
            </if>
            <if test="guidePrice != null">
                #{guidePrice,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="carSource != null">
                #{carSource,jdbcType=INTEGER},
            </if>
            <if test="assetRight != null">
                #{assetRight,jdbcType=BIGINT},
            </if>
            <if test="assetRightName != null">
                #{assetRightName,jdbcType=VARCHAR},
            </if>
            <if test="assetRightType != null">
                #{assetRightType,jdbcType=INTEGER},
            </if>
            <if test="assetRightInChange != null">
                #{assetRightInChange,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.chevrolet.dal.dao.domain.query.CarQuery" resultType="java.lang.Integer">
        select count(*) from cc_car
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.chevrolet.dal.dao.domain.CarDO">
        update cc_car
        <set>
            gmt_modified=now(),
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=BIGINT},
            </if>
            <if test="brandName != null">
                brand_name = #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="carUnique != null">
                car_unique = #{carUnique,jdbcType=VARCHAR},
            </if>
            <if test="emission != null">
                emission = #{emission,jdbcType=VARCHAR},
            </if>
            <if test="imgBehind != null">
                img_behind = #{imgBehind,jdbcType=VARCHAR},
            </if>
            <if test="imgDamage != null">
                img_damage = #{imgDamage,jdbcType=VARCHAR},
            </if>
            <if test="imgFront != null">
                img_front = #{imgFront,jdbcType=VARCHAR},
            </if>
            <if test="imgInterior != null">
                img_interior = #{imgInterior,jdbcType=VARCHAR},
            </if>
            <if test="imgMileage != null">
                img_mileage = #{imgMileage,jdbcType=VARCHAR},
            </if>
            <if test="imgNameplate != null">
                img_nameplate = #{imgNameplate,jdbcType=VARCHAR},
            </if>
            <if test="innerColorId != null">
                inner_color_id = #{innerColorId,jdbcType=BIGINT},
            </if>
            <if test="innerColorName != null">
                inner_color_name = #{innerColorName,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null">
                model_id = #{modelId,jdbcType=BIGINT},
            </if>
            <if test="modelName != null">
                model_name = #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="odometer != null">
                odometer = #{odometer,jdbcType=VARCHAR},
            </if>
            <if test="outerColorId != null">
                outer_color_id = #{outerColorId,jdbcType=BIGINT},
            </if>
            <if test="outerColorName != null">
                outer_color_name = #{outerColorName,jdbcType=VARCHAR},
            </if>
            <if test="productionDate != null">
                production_date = #{productionDate,jdbcType=VARCHAR},
            </if>
            <if test="seriesId != null">
                series_id = #{seriesId,jdbcType=BIGINT},
            </if>
            <if test="seriesName != null">
                series_name = #{seriesName,jdbcType=VARCHAR},
            </if>
            <if test="specId != null">
                spec_id = #{specId,jdbcType=INTEGER},
            </if>
            <if test="specName != null">
                spec_name = #{specName,jdbcType=VARCHAR},
            </if>
            <if test="carDesc != null">
                car_desc = #{carDesc,jdbcType=VARCHAR},
            </if>
            <if test="guidePrice != null">
                guide_price = #{guidePrice,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="carSource != null">
                car_source = #{carSource,jdbcType=INTEGER},
            </if>
            <if test="assetRightInChange != null">
                asset_right_in_change = #{assetRightInChange,jdbcType=INTEGER},
            </if>
        </set>
        where car_id = #{carId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
