<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chevrolet.dal.dao.mapper.DaasSalesMapper">

    <resultMap id="BaseResultMap" type="com.chevrolet.dal.dao.domain.DaasSalesDO">
        <id column="daas_sales_id" jdbcType="BIGINT" property="daasSalesId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="manf_id" jdbcType="BIGINT" property="manfId" />
        <result column="manf_name" jdbcType="VARCHAR" property="manfName" />
        <result column="brand_id" jdbcType="BIGINT" property="brandId" />
        <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
        <result column="sub_model_id" jdbcType="BIGINT" property="subModelId" />
        <result column="sub_model_name" jdbcType="VARCHAR" property="subModelName" />
        <result column="segment_id" jdbcType="BIGINT" property="segmentId" />
        <result column="segment_name" jdbcType="VARCHAR" property="segmentName" />
        <result column="sales" jdbcType="BIGINT" property="sales" />
        <result column="data_year" jdbcType="INTEGER" property="dataYear" />
        <result column="data_month" jdbcType="INTEGER" property="dataMonth" />
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        daas_sales_id,gmt_create,gmt_modified,manf_id,manf_name,brand_id,brand_name,sub_model_id,sub_model_name,segment_id,segment_name,sales,data_year,data_month,is_deleted
    </sql>

    <select id="selectByQuery" parameterType="com.chevrolet.dal.dao.domain.query.DaasSalesQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from cc_daas_sales
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from cc_daas_sales where daas_sales_id = #{daasSalesId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from cc_daas_sales where daas_sales_id = #{daasSalesId,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.chevrolet.dal.dao.domain.DaasSalesDO">
        <selectKey keyProperty="daasSalesId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into cc_daas_sales
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="manfId != null">
                manf_id,
            </if>
            <if test="manfName != null">
                manf_name,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="brandName != null">
                brand_name,
            </if>
            <if test="subModelId != null">
                sub_model_id,
            </if>
            <if test="subModelName != null">
                sub_model_name,
            </if>
            <if test="segmentId != null">
                segment_id,
            </if>
            <if test="segmentName != null">
                segment_name,
            </if>
            <if test="sales != null">
                sales,
            </if>
            <if test="dataYear != null">
                data_year,
            </if>
            <if test="dataMonth != null">
                data_month,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="manfId != null">
                #{manfId,jdbcType=BIGINT},
            </if>
            <if test="manfName != null">
                #{manfName,jdbcType=VARCHAR},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="subModelId != null">
                #{subModelId,jdbcType=BIGINT},
            </if>
            <if test="subModelName != null">
                #{subModelName,jdbcType=VARCHAR},
            </if>
            <if test="segmentId != null">
                #{segmentId,jdbcType=BIGINT},
            </if>
            <if test="segmentName != null">
                #{segmentName,jdbcType=VARCHAR},
            </if>
            <if test="sales != null">
                #{sales,jdbcType=BIGINT},
            </if>
            <if test="dataYear != null">
                #{dataYear,jdbcType=INTEGER},
            </if>
            <if test="dataMonth != null">
                #{dataMonth,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.chevrolet.dal.dao.domain.query.DaasSalesQuery" resultType="java.lang.Integer">
        select count(*) from cc_daas_sales
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.chevrolet.dal.dao.domain.DaasSalesDO">
        update cc_daas_sales
        <set>
            gmt_modified=now(),
            <if test="manfId != null">
                manf_id = #{manfId,jdbcType=BIGINT},
            </if>
            <if test="manfName != null">
                manf_name = #{manfName,jdbcType=VARCHAR},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=BIGINT},
            </if>
            <if test="brandName != null">
                brand_name = #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="subModelId != null">
                sub_model_id = #{subModelId,jdbcType=BIGINT},
            </if>
            <if test="subModelName != null">
                sub_model_name = #{subModelName,jdbcType=VARCHAR},
            </if>
            <if test="segmentId != null">
                segment_id = #{segmentId,jdbcType=BIGINT},
            </if>
            <if test="segmentName != null">
                segment_name = #{segmentName,jdbcType=VARCHAR},
            </if>
            <if test="sales != null">
                sales = #{sales,jdbcType=BIGINT},
            </if>
            <if test="dataYear != null">
                data_year = #{dataYear,jdbcType=INTEGER},
            </if>
            <if test="dataMonth != null">
                data_month = #{dataMonth,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
        </set>
        where daas_sales_id = #{daasSalesId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
