<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chevrolet.dal.dao.mapper.MhcCityMapper">

    <resultMap id="BaseResultMap" type="com.chevrolet.dal.dao.domain.MhcCityDO">
        <id column="city_id" jdbcType="BIGINT" property="cityId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="city_name" jdbcType="VARCHAR" property="cityName" />
        <result column="city_short_name" jdbcType="VARCHAR" property="cityShortName" />
        <result column="city_sort" jdbcType="INTEGER" property="citySort" />
        <result column="prov_id" jdbcType="BIGINT" property="provId" />
        <result column="city_index" jdbcType="VARCHAR" property="cityIndex" />
        <result column="status" jdbcType="TINYINT" property="status" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        city_id,gmt_create,gmt_modified,city_name,city_short_name,city_sort,prov_id,city_index,status
    </sql>

    <select id="selectByQuery" parameterType="com.chevrolet.dal.dao.domain.query.MhcCityQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from b2b_mhc_city
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from b2b_mhc_city where city_id = #{cityId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from b2b_mhc_city where city_id = #{cityId,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.chevrolet.dal.dao.domain.MhcCityDO">
        <selectKey keyProperty="cityId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b2b_mhc_city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="cityName != null">
                city_name,
            </if>
            <if test="cityShortName != null">
                city_short_name,
            </if>
            <if test="citySort != null">
                city_sort,
            </if>
            <if test="provId != null">
                prov_id,
            </if>
            <if test="cityIndex != null">
                city_index,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="cityName != null">
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="cityShortName != null">
                #{cityShortName,jdbcType=VARCHAR},
            </if>
            <if test="citySort != null">
                #{citySort,jdbcType=INTEGER},
            </if>
            <if test="provId != null">
                #{provId,jdbcType=BIGINT},
            </if>
            <if test="cityIndex != null">
                #{cityIndex,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.chevrolet.dal.dao.domain.query.MhcCityQuery" resultType="java.lang.Integer">
        select count(*) from b2b_mhc_city
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.chevrolet.dal.dao.domain.MhcCityDO">
        update b2b_mhc_city
        <set>
            gmt_modified=now(),
            <if test="cityName != null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="cityShortName != null">
                city_short_name = #{cityShortName,jdbcType=VARCHAR},
            </if>
            <if test="citySort != null">
                city_sort = #{citySort,jdbcType=INTEGER},
            </if>
            <if test="provId != null">
                prov_id = #{provId,jdbcType=BIGINT},
            </if>
            <if test="cityIndex != null">
                city_index = #{cityIndex,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where city_id = #{cityId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
