<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chevrolet.dal.dao.mapper.ModelMapper">

    <resultMap id="BaseResultMap" type="com.chevrolet.dal.dao.domain.ModelDO">
        <id column="model_id" jdbcType="BIGINT" property="modelId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="model_name" jdbcType="VARCHAR" property="modelName" />
        <result column="series_id" jdbcType="BIGINT" property="seriesId" />
        <result column="brand_id" jdbcType="BIGINT" property="brandId" />
        <result column="standard" jdbcType="INTEGER" property="standard" />
        <result column="year" jdbcType="VARCHAR" property="year" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="displacement" jdbcType="VARCHAR" property="displacement" />
        <result column="drive" jdbcType="VARCHAR" property="drive" />
        <result column="fuel" jdbcType="VARCHAR" property="fuel" />
        <result column="seat" jdbcType="VARCHAR" property="seat" />
        <result column="guide_price" jdbcType="VARCHAR" property="guidePrice" />
        <result column="wap_name" jdbcType="VARCHAR" property="wapName" />
        <result column="outer_id" jdbcType="VARCHAR" property="outerId" />
        <result column="source" jdbcType="INTEGER" property="source" />
        <result column="rank" jdbcType="INTEGER" property="rank" />
        <result column="sell_price_status" jdbcType="TINYINT" property="sellPriceStatus" />
        <result column="length" jdbcType="INTEGER" property="length" />
        <result column="width" jdbcType="INTEGER" property="width" />
        <result column="height" jdbcType="INTEGER" property="height" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        model_id,gmt_create,gmt_modified,model_name,series_id,brand_id,standard,year,status,displacement,drive,fuel,seat,guide_price,wap_name,outer_id,source,rank,sell_price_status,length,width,height
    </sql>

    <select id="selectByQuery" parameterType="com.chevrolet.dal.dao.domain.query.ModelQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from b2b_model
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from b2b_model where model_id = #{modelId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from b2b_model where model_id = #{modelId,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.chevrolet.dal.dao.domain.ModelDO">
        <selectKey keyProperty="modelId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b2b_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="modelName != null">
                model_name,
            </if>
            <if test="seriesId != null">
                series_id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="standard != null">
                standard,
            </if>
            <if test="year != null">
                year,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="displacement != null">
                displacement,
            </if>
            <if test="drive != null">
                drive,
            </if>
            <if test="fuel != null">
                fuel,
            </if>
            <if test="seat != null">
                seat,
            </if>
            <if test="guidePrice != null">
                guide_price,
            </if>
            <if test="wapName != null">
                wap_name,
            </if>
            <if test="outerId != null">
                outer_id,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="rank != null">
                rank,
            </if>
            <if test="sellPriceStatus != null">
                sell_price_status,
            </if>
            <if test="length != null">
                length,
            </if>
            <if test="width != null">
                width,
            </if>
            <if test="height != null">
                height,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="modelName != null">
                #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="seriesId != null">
                #{seriesId,jdbcType=BIGINT},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="standard != null">
                #{standard,jdbcType=INTEGER},
            </if>
            <if test="year != null">
                #{year,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="displacement != null">
                #{displacement,jdbcType=VARCHAR},
            </if>
            <if test="drive != null">
                #{drive,jdbcType=VARCHAR},
            </if>
            <if test="fuel != null">
                #{fuel,jdbcType=VARCHAR},
            </if>
            <if test="seat != null">
                #{seat,jdbcType=VARCHAR},
            </if>
            <if test="guidePrice != null">
                #{guidePrice,jdbcType=VARCHAR},
            </if>
            <if test="wapName != null">
                #{wapName,jdbcType=VARCHAR},
            </if>
            <if test="outerId != null">
                #{outerId,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=INTEGER},
            </if>
            <if test="sellPriceStatus != null">
                #{sellPriceStatus,jdbcType=TINYINT},
            </if>
            <if test="length != null">
                #{length,jdbcType=INTEGER},
            </if>
            <if test="width != null">
                #{width,jdbcType=INTEGER},
            </if>
            <if test="height != null">
                #{height,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.chevrolet.dal.dao.domain.query.ModelQuery" resultType="java.lang.Integer">
        select count(*) from b2b_model
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.chevrolet.dal.dao.domain.ModelDO">
        update b2b_model
        <set>
            gmt_modified=now(),
            <if test="modelName != null">
                model_name = #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="seriesId != null">
                series_id = #{seriesId,jdbcType=BIGINT},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=BIGINT},
            </if>
            <if test="standard != null">
                standard = #{standard,jdbcType=INTEGER},
            </if>
            <if test="year != null">
                year = #{year,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="displacement != null">
                displacement = #{displacement,jdbcType=VARCHAR},
            </if>
            <if test="drive != null">
                drive = #{drive,jdbcType=VARCHAR},
            </if>
            <if test="fuel != null">
                fuel = #{fuel,jdbcType=VARCHAR},
            </if>
            <if test="seat != null">
                seat = #{seat,jdbcType=VARCHAR},
            </if>
            <if test="guidePrice != null">
                guide_price = #{guidePrice,jdbcType=VARCHAR},
            </if>
            <if test="wapName != null">
                wap_name = #{wapName,jdbcType=VARCHAR},
            </if>
            <if test="outerId != null">
                outer_id = #{outerId,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="rank != null">
                rank = #{rank,jdbcType=INTEGER},
            </if>
            <if test="sellPriceStatus != null">
                sell_price_status = #{sellPriceStatus,jdbcType=TINYINT},
            </if>
            <if test="length != null">
                length = #{length,jdbcType=INTEGER},
            </if>
            <if test="width != null">
                width = #{width,jdbcType=INTEGER},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=INTEGER},
            </if>
        </set>
        where model_id = #{modelId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
