<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chevrolet.dal.dao.mapper.TmsCarrierRouteSnapshotMapper">

    <resultMap id="BaseResultMap" type="com.chevrolet.dal.dao.domain.TmsCarrierRouteSnapshotDO">
        <id column="route_snapshot_id" jdbcType="BIGINT" property="routeSnapshotId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="route_id" jdbcType="BIGINT" property="routeId" />
        <result column="transport_order_id" jdbcType="BIGINT" property="transportOrderId" />
        <result column="start_city_id" jdbcType="BIGINT" property="startCityId" />
        <result column="start_city_name" jdbcType="VARCHAR" property="startCityName" />
        <result column="destination_city_id" jdbcType="BIGINT" property="destinationCityId" />
        <result column="destination_city_name" jdbcType="VARCHAR" property="destinationCityName" />
        <result column="destination_warehouse_id" jdbcType="BIGINT" property="destinationWarehouseId" />
        <result column="destination_warehouse_type" jdbcType="INTEGER" property="destinationWarehouseType" />
        <result column="destination_warehouse_name" jdbcType="VARCHAR" property="destinationWarehouseName" />
        <result column="mileage" jdbcType="INTEGER" property="mileage" />
        <result column="carrier_id" jdbcType="BIGINT" property="carrierId" />
        <result column="transport_type" jdbcType="TINYINT" property="transportType" />
        <result column="car_type" jdbcType="TINYINT" property="carType" />
        <result column="transport_costs" jdbcType="INTEGER" property="transportCosts" />
        <result column="transport_time" jdbcType="INTEGER" property="transportTime" />
        <result column="route_status" jdbcType="TINYINT" property="routeStatus" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="operate_user_id" jdbcType="BIGINT" property="operateUserId" />
        <result column="operate_user_type" jdbcType="TINYINT" property="operateUserType" />
        <result column="controlled_status" jdbcType="TINYINT" property="controlledStatus" />
        <result column="status" jdbcType="TINYINT" property="status" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        route_snapshot_id,gmt_create,gmt_modified,route_id,transport_order_id,start_city_id,start_city_name,destination_city_id,destination_city_name,destination_warehouse_id,destination_warehouse_type,destination_warehouse_name,mileage,carrier_id,transport_type,car_type,transport_costs,transport_time,route_status,remarks,operate_user_id,operate_user_type,controlled_status,status
    </sql>

    <select id="selectByQuery" parameterType="com.chevrolet.dal.dao.domain.query.TmsCarrierRouteSnapshotQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from tms_carrier_route_snapshot
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from tms_carrier_route_snapshot where route_snapshot_id = #{routeSnapshotId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tms_carrier_route_snapshot where route_snapshot_id = #{routeSnapshotId,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.chevrolet.dal.dao.domain.TmsCarrierRouteSnapshotDO">
        <selectKey keyProperty="routeSnapshotId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tms_carrier_route_snapshot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="routeId != null">
                route_id,
            </if>
            <if test="transportOrderId != null">
                transport_order_id,
            </if>
            <if test="startCityId != null">
                start_city_id,
            </if>
            <if test="startCityName != null">
                start_city_name,
            </if>
            <if test="destinationCityId != null">
                destination_city_id,
            </if>
            <if test="destinationCityName != null">
                destination_city_name,
            </if>
            <if test="mileage != null">
                mileage,
            </if>
            <if test="carrierId != null">
                carrier_id,
            </if>
            <if test="transportType != null">
                transport_type,
            </if>
            <if test="carType != null">
                car_type,
            </if>
            <if test="transportCosts != null">
                transport_costs,
            </if>
            <if test="transportTime != null">
                transport_time,
            </if>
            <if test="routeStatus != null">
                route_status,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="operateUserId != null">
                operate_user_id,
            </if>
            <if test="operateUserType != null">
                operate_user_type,
            </if>
            <if test="controlledStatus != null">
                controlled_status,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="routeId != null">
                #{routeId,jdbcType=BIGINT},
            </if>
            <if test="transportOrderId != null">
                #{transportOrderId,jdbcType=BIGINT},
            </if>
            <if test="startCityId != null">
                #{startCityId,jdbcType=BIGINT},
            </if>
            <if test="startCityName != null">
                #{startCityName,jdbcType=VARCHAR},
            </if>
            <if test="destinationCityId != null">
                #{destinationCityId,jdbcType=BIGINT},
            </if>
            <if test="destinationCityName != null">
                #{destinationCityName,jdbcType=VARCHAR},
            </if>
            <if test="mileage != null">
                #{mileage,jdbcType=INTEGER},
            </if>
            <if test="carrierId != null">
                #{carrierId,jdbcType=BIGINT},
            </if>
            <if test="transportType != null">
                #{transportType,jdbcType=TINYINT},
            </if>
            <if test="carType != null">
                #{carType,jdbcType=TINYINT},
            </if>
            <if test="transportCosts != null">
                #{transportCosts,jdbcType=INTEGER},
            </if>
            <if test="transportTime != null">
                #{transportTime,jdbcType=INTEGER},
            </if>
            <if test="routeStatus != null">
                #{routeStatus,jdbcType=TINYINT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="operateUserId != null">
                #{operateUserId,jdbcType=BIGINT},
            </if>
            <if test="operateUserType != null">
                #{operateUserType,jdbcType=TINYINT},
            </if>
            <if test="controlledStatus != null">
                #{controlledStatus,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.chevrolet.dal.dao.domain.query.TmsCarrierRouteSnapshotQuery" resultType="java.lang.Integer">
        select count(*) from tms_carrier_route_snapshot
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.chevrolet.dal.dao.domain.TmsCarrierRouteSnapshotDO">
        update tms_carrier_route_snapshot
        <set>
            gmt_modified=now(),
            <if test="routeId != null">
                route_id = #{routeId,jdbcType=BIGINT},
            </if>
            <if test="transportOrderId != null">
                transport_order_id = #{transportOrderId,jdbcType=BIGINT},
            </if>
            <if test="startCityId != null">
                start_city_id = #{startCityId,jdbcType=BIGINT},
            </if>
            <if test="startCityName != null">
                start_city_name = #{startCityName,jdbcType=VARCHAR},
            </if>
            <if test="destinationCityId != null">
                destination_city_id = #{destinationCityId,jdbcType=BIGINT},
            </if>
            <if test="destinationCityName != null">
                destination_city_name = #{destinationCityName,jdbcType=VARCHAR},
            </if>
            <if test="mileage != null">
                mileage = #{mileage,jdbcType=INTEGER},
            </if>
            <if test="carrierId != null">
                carrier_id = #{carrierId,jdbcType=BIGINT},
            </if>
            <if test="transportType != null">
                transport_type = #{transportType,jdbcType=TINYINT},
            </if>
            <if test="carType != null">
                car_type = #{carType,jdbcType=TINYINT},
            </if>
            <if test="transportCosts != null">
                transport_costs = #{transportCosts,jdbcType=INTEGER},
            </if>
            <if test="transportTime != null">
                transport_time = #{transportTime,jdbcType=INTEGER},
            </if>
            <if test="routeStatus != null">
                route_status = #{routeStatus,jdbcType=TINYINT},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="operateUserId != null">
                operate_user_id = #{operateUserId,jdbcType=BIGINT},
            </if>
            <if test="operateUserType != null">
                operate_user_type = #{operateUserType,jdbcType=TINYINT},
            </if>
            <if test="controlledStatus != null">
                controlled_status = #{controlledStatus,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where route_snapshot_id = #{routeSnapshotId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
