<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chevrolet.dal.dao.mapper.TmsTransportCarMapper">

    <resultMap id="BaseResultMap" type="com.chevrolet.dal.dao.domain.TmsTransportCarDO">
        <id column="transport_car_id" jdbcType="BIGINT" property="transportCarId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="car_id" jdbcType="BIGINT" property="carId" />
        <result column="cc_car_id" jdbcType="BIGINT" property="ccCarId" />
        <result column="transport_order_id" jdbcType="BIGINT" property="transportOrderId" />
        <result column="car_type" jdbcType="TINYINT" property="carType" />
        <result column="guide_price" jdbcType="BIGINT" property="guidePrice" />
        <result column="transport_price" jdbcType="INTEGER" property="transportPrice" />
        <result column="service_charge" jdbcType="INTEGER" property="serviceCharge" />
        <result column="insurance" jdbcType="INTEGER" property="insurance" />
        <result column="await_price" jdbcType="INTEGER" property="awaitPrice" />
        <result column="empty_run_price" jdbcType="INTEGER" property="emptyRunPrice" />
        <result column="tax_price" jdbcType="INTEGER" property="taxPrice" />
        <result column="start_city_id" jdbcType="BIGINT" property="startCityId" />
        <result column="destination_city_id" jdbcType="BIGINT" property="destinationCityId" />
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
        <result column="warehouse_fullname" jdbcType="VARCHAR" property="warehouseFullname" />
        <result column="warehouse_type" jdbcType="TINYINT" property="warehouseType" />
        <result column="inspection_time" jdbcType="TIMESTAMP" property="inspectionTime" />
        <result column="shipping_time" jdbcType="TIMESTAMP" property="shippingTime" />
        <result column="predict_arrival_time" jdbcType="TIMESTAMP" property="predictArrivalTime" />
        <result column="arrival_time" jdbcType="TIMESTAMP" property="arrivalTime" />
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
        <result column="img_policy" jdbcType="VARCHAR" property="imgPolicy" />
        <result column="img_delivery" jdbcType="VARCHAR" property="imgDelivery" />
        <result column="img_pick_letter" jdbcType="VARCHAR" property="imgPickLetter" />
        <result column="img_front" jdbcType="VARCHAR" property="imgFront" />
        <result column="img_behind" jdbcType="VARCHAR" property="imgBehind" />
        <result column="img_inner" jdbcType="VARCHAR" property="imgInner" />
        <result column="img_odometer" jdbcType="VARCHAR" property="imgOdometer" />
        <result column="img_nameplate" jdbcType="VARCHAR" property="imgNameplate" />
        <result column="car_transport_status" jdbcType="TINYINT" property="carTransportStatus" />
        <result column="payment_status" jdbcType="TINYINT" property="paymentStatus" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="settlement_status" jdbcType="TINYINT" property="settlementStatus" />
        <result column="settlement_no" jdbcType="VARCHAR" property="settlementNo" />
        <result column="examine_status" jdbcType="TINYINT" property="examineStatus" />
        <result column="odometer" jdbcType="VARCHAR" property="odometer" />
        <result column="notice_delivery_time" jdbcType="TIMESTAMP" property="noticeDeliveryTime" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        transport_car_id,gmt_create,gmt_modified,car_id,cc_car_id,transport_order_id,car_type,guide_price,transport_price,service_charge,insurance,await_price,empty_run_price,tax_price,start_city_id,destination_city_id,warehouse_id,warehouse_fullname,warehouse_type,inspection_time,shipping_time,predict_arrival_time,arrival_time,delivery_time,img_policy,img_delivery,img_pick_letter,img_front,img_behind,img_inner,img_odometer,img_nameplate,car_transport_status,payment_status,remarks,status,settlement_status,settlement_no,examine_status,odometer,notice_delivery_time
    </sql>

    <select id="selectByQuery" parameterType="com.chevrolet.dal.dao.domain.query.TmsTransportCarQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from tms_transport_car
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from tms_transport_car where transport_car_id = #{transportCarId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tms_transport_car where transport_car_id = #{transportCarId,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.chevrolet.dal.dao.domain.TmsTransportCarDO">
        <selectKey keyProperty="transportCarId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tms_transport_car
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="carId != null">
                car_id,
            </if>
            <if test="ccCarId != null">
                cc_car_id,
            </if>
            <if test="transportOrderId != null">
                transport_order_id,
            </if>
            <if test="carType != null">
                car_type,
            </if>
            <if test="guidePrice != null">
                guide_price,
            </if>
            <if test="transportPrice != null">
                transport_price,
            </if>
            <if test="serviceCharge != null">
                service_charge,
            </if>
            <if test="insurance != null">
                insurance,
            </if>
            <if test="awaitPrice != null">
                await_price,
            </if>
            <if test="emptyRunPrice != null">
                empty_run_price,
            </if>
            <if test="taxPrice != null">
                tax_price,
            </if>
            <if test="startCityId != null">
                start_city_id,
            </if>
            <if test="destinationCityId != null">
                destination_city_id,
            </if>
            <if test="warehouseId != null">
                warehouse_id,
            </if>
            <if test="warehouseFullname != null">
                warehouse_fullname,
            </if>
            <if test="warehouseType != null">
                warehouse_type,
            </if>
            <if test="inspectionTime != null">
                inspection_time,
            </if>
            <if test="shippingTime != null">
                shipping_time,
            </if>
            <if test="predictArrivalTime != null">
                predict_arrival_time,
            </if>
            <if test="arrivalTime != null">
                arrival_time,
            </if>
            <if test="deliveryTime != null">
                delivery_time,
            </if>
            <if test="imgPolicy != null">
                img_policy,
            </if>
            <if test="imgDelivery != null">
                img_delivery,
            </if>
            <if test="imgPickLetter != null">
                img_pick_letter,
            </if>
            <if test="imgFront != null">
                img_front,
            </if>
            <if test="imgBehind != null">
                img_behind,
            </if>
            <if test="imgInner != null">
                img_inner,
            </if>
            <if test="imgOdometer != null">
                img_odometer,
            </if>
            <if test="imgNameplate != null">
                img_nameplate,
            </if>
            <if test="carTransportStatus != null">
                car_transport_status,
            </if>
            <if test="paymentStatus != null">
                payment_status,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="settlementStatus != null">
                settlement_status,
            </if>
            <if test="settlementNo != null">
                settlement_no,
            </if>
            <if test="examineStatus != null">
                examine_status,
            </if>
            <if test="odometer != null">
                odometer,
            </if>
            <if test="noticeDeliveryTime != null">
                notice_delivery_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="carId != null">
                #{carId,jdbcType=BIGINT},
            </if>
            <if test="ccCarId != null">
                #{ccCarId,jdbcType=BIGINT},
            </if>
            <if test="transportOrderId != null">
                #{transportOrderId,jdbcType=BIGINT},
            </if>
            <if test="carType != null">
                #{carType,jdbcType=TINYINT},
            </if>
            <if test="guidePrice != null">
                #{guidePrice,jdbcType=BIGINT},
            </if>
            <if test="transportPrice != null">
                #{transportPrice,jdbcType=INTEGER},
            </if>
            <if test="serviceCharge != null">
                #{serviceCharge,jdbcType=INTEGER},
            </if>
            <if test="insurance != null">
                #{insurance,jdbcType=INTEGER},
            </if>
            <if test="awaitPrice != null">
                #{awaitPrice,jdbcType=INTEGER},
            </if>
            <if test="emptyRunPrice != null">
                #{emptyRunPrice,jdbcType=INTEGER},
            </if>
            <if test="taxPrice != null">
                #{taxPrice,jdbcType=INTEGER},
            </if>
            <if test="startCityId != null">
                #{startCityId,jdbcType=BIGINT},
            </if>
            <if test="destinationCityId != null">
                #{destinationCityId,jdbcType=BIGINT},
            </if>
            <if test="warehouseId != null">
                #{warehouseId,jdbcType=BIGINT},
            </if>
            <if test="warehouseFullname != null">
                #{warehouseFullname,jdbcType=VARCHAR},
            </if>
            <if test="warehouseType != null">
                #{warehouseType,jdbcType=TINYINT},
            </if>
            <if test="inspectionTime != null">
                #{inspectionTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shippingTime != null">
                #{shippingTime,jdbcType=TIMESTAMP},
            </if>
            <if test="predictArrivalTime != null">
                #{predictArrivalTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arrivalTime != null">
                #{arrivalTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryTime != null">
                #{deliveryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgPolicy != null">
                #{imgPolicy,jdbcType=VARCHAR},
            </if>
            <if test="imgDelivery != null">
                #{imgDelivery,jdbcType=VARCHAR},
            </if>
            <if test="imgPickLetter != null">
                #{imgPickLetter,jdbcType=VARCHAR},
            </if>
            <if test="imgFront != null">
                #{imgFront,jdbcType=VARCHAR},
            </if>
            <if test="imgBehind != null">
                #{imgBehind,jdbcType=VARCHAR},
            </if>
            <if test="imgInner != null">
                #{imgInner,jdbcType=VARCHAR},
            </if>
            <if test="imgOdometer != null">
                #{imgOdometer,jdbcType=VARCHAR},
            </if>
            <if test="imgNameplate != null">
                #{imgNameplate,jdbcType=VARCHAR},
            </if>
            <if test="carTransportStatus != null">
                #{carTransportStatus,jdbcType=TINYINT},
            </if>
            <if test="paymentStatus != null">
                #{paymentStatus,jdbcType=TINYINT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="settlementStatus != null">
                #{settlementStatus,jdbcType=TINYINT},
            </if>
            <if test="settlementNo != null">
                #{settlementNo,jdbcType=VARCHAR},
            </if>
            <if test="examineStatus != null">
                #{examineStatus,jdbcType=TINYINT},
            </if>
            <if test="odometer != null">
                #{odometer,jdbcType=VARCHAR},
            </if>
            <if test="noticeDeliveryTime != null">
                #{noticeDeliveryTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.chevrolet.dal.dao.domain.query.TmsTransportCarQuery" resultType="java.lang.Integer">
        select count(*) from tms_transport_car
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.chevrolet.dal.dao.domain.TmsTransportCarDO">
        update tms_transport_car
        <set>
            gmt_modified=now(),
            <if test="carId != null">
                car_id = #{carId,jdbcType=BIGINT},
            </if>
            <if test="ccCarId != null">
                cc_car_id = #{ccCarId,jdbcType=BIGINT},
            </if>
            <if test="transportOrderId != null">
                transport_order_id = #{transportOrderId,jdbcType=BIGINT},
            </if>
            <if test="carType != null">
                car_type = #{carType,jdbcType=TINYINT},
            </if>
            <if test="guidePrice != null">
                guide_price = #{guidePrice,jdbcType=BIGINT},
            </if>
            <if test="transportPrice != null">
                transport_price = #{transportPrice,jdbcType=INTEGER},
            </if>
            <if test="serviceCharge != null">
                service_charge = #{serviceCharge,jdbcType=INTEGER},
            </if>
            <if test="insurance != null">
                insurance = #{insurance,jdbcType=INTEGER},
            </if>
            <if test="awaitPrice != null">
                await_price = #{awaitPrice,jdbcType=INTEGER},
            </if>
            <if test="emptyRunPrice != null">
                empty_run_price = #{emptyRunPrice,jdbcType=INTEGER},
            </if>
            <if test="taxPrice != null">
                tax_price = #{taxPrice,jdbcType=INTEGER},
            </if>
            <if test="startCityId != null">
                start_city_id = #{startCityId,jdbcType=BIGINT},
            </if>
            <if test="destinationCityId != null">
                destination_city_id = #{destinationCityId,jdbcType=BIGINT},
            </if>
            <if test="warehouseId != null">
                warehouse_id = #{warehouseId,jdbcType=BIGINT},
            </if>
            <if test="warehouseFullname != null">
                warehouse_fullname = #{warehouseFullname,jdbcType=VARCHAR},
            </if>
            <if test="warehouseType != null">
                warehouse_type = #{warehouseType,jdbcType=TINYINT},
            </if>
            <if test="inspectionTime != null">
                inspection_time = #{inspectionTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shippingTime != null">
                shipping_time = #{shippingTime,jdbcType=TIMESTAMP},
            </if>
            <if test="predictArrivalTime != null">
                predict_arrival_time = #{predictArrivalTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arrivalTime != null">
                arrival_time = #{arrivalTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgPolicy != null">
                img_policy = #{imgPolicy,jdbcType=VARCHAR},
            </if>
            <if test="imgDelivery != null">
                img_delivery = #{imgDelivery,jdbcType=VARCHAR},
            </if>
            <if test="imgPickLetter != null">
                img_pick_letter = #{imgPickLetter,jdbcType=VARCHAR},
            </if>
            <if test="imgFront != null">
                img_front = #{imgFront,jdbcType=VARCHAR},
            </if>
            <if test="imgBehind != null">
                img_behind = #{imgBehind,jdbcType=VARCHAR},
            </if>
            <if test="imgInner != null">
                img_inner = #{imgInner,jdbcType=VARCHAR},
            </if>
            <if test="imgOdometer != null">
                img_odometer = #{imgOdometer,jdbcType=VARCHAR},
            </if>
            <if test="imgNameplate != null">
                img_nameplate = #{imgNameplate,jdbcType=VARCHAR},
            </if>
            <if test="carTransportStatus != null">
                car_transport_status = #{carTransportStatus,jdbcType=TINYINT},
            </if>
            <if test="paymentStatus != null">
                payment_status = #{paymentStatus,jdbcType=TINYINT},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="settlementStatus != null">
                settlement_status = #{settlementStatus,jdbcType=TINYINT},
            </if>
            <if test="settlementNo != null">
                settlement_no = #{settlementNo,jdbcType=VARCHAR},
            </if>
            <if test="examineStatus != null">
                examine_status = #{examineStatus,jdbcType=TINYINT},
            </if>
            <if test="odometer != null">
                odometer = #{odometer,jdbcType=VARCHAR},
            </if>
            <if test="noticeDeliveryTime != null">
                notice_delivery_time = #{noticeDeliveryTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where transport_car_id = #{transportCarId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
