<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chevrolet.dal.dao.mapper.WmsCarInfoMapper">

    <resultMap id="BaseResultMap" type="com.chevrolet.dal.dao.domain.WmsCarInfoDO">
        <id column="car_id" jdbcType="BIGINT" property="carId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="car_status" jdbcType="TINYINT" property="carStatus" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="shipping_order_id" jdbcType="BIGINT" property="shippingOrderId" />
        <result column="notice_id" jdbcType="BIGINT" property="noticeId" />
        <result column="out_car_id" jdbcType="BIGINT" property="outCarId" />
        <result column="car_source_type" jdbcType="TINYINT" property="carSourceType" />
        <result column="car_snap_id" jdbcType="BIGINT" property="carSnapId" />
        <result column="spec" jdbcType="TINYINT" property="spec" />
        <result column="brand_id" jdbcType="INTEGER" property="brandId" />
        <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
        <result column="series_id" jdbcType="INTEGER" property="seriesId" />
        <result column="series_name" jdbcType="VARCHAR" property="seriesName" />
        <result column="model_id" jdbcType="INTEGER" property="modelId" />
        <result column="model_name" jdbcType="VARCHAR" property="modelName" />
        <result column="outer_id" jdbcType="INTEGER" property="outerId" />
        <result column="outer_name" jdbcType="VARCHAR" property="outerName" />
        <result column="inner_id" jdbcType="INTEGER" property="innerId" />
        <result column="inner_name" jdbcType="VARCHAR" property="innerName" />
        <result column="car_unique" jdbcType="VARCHAR" property="carUnique" />
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
        <result column="warehouse_fullname" jdbcType="VARCHAR" property="warehouseFullname" />
        <result column="car_data" jdbcType="VARCHAR" property="carData" />
        <result column="car_accessory" jdbcType="VARCHAR" property="carAccessory" />
        <result column="key_number" jdbcType="TINYINT" property="keyNumber" />
        <result column="odometer" jdbcType="FLOAT" property="odometer" />
        <result column="parking_space" jdbcType="VARCHAR" property="parkingSpace" />
        <result column="entry_date" jdbcType="TIMESTAMP" property="entryDate" />
        <result column="img_entry_mass_loss" jdbcType="VARCHAR" property="imgEntryMassLoss" />
        <result column="entry_mass_loss_memo" jdbcType="VARCHAR" property="entryMassLossMemo" />
        <result column="entry_mass_loss_date" jdbcType="TIMESTAMP" property="entryMassLossDate" />
        <result column="entry_mass_loss_transactor" jdbcType="VARCHAR" property="entryMassLossTransactor" />
        <result column="img_repertory_mass_loss" jdbcType="VARCHAR" property="imgRepertoryMassLoss" />
        <result column="repertory_mass_loss_memo" jdbcType="VARCHAR" property="repertoryMassLossMemo" />
        <result column="repertory_mass_loss_date" jdbcType="TIMESTAMP" property="repertoryMassLossDate" />
        <result column="repertory_mass_loss_transactor" jdbcType="VARCHAR" property="repertoryMassLossTransactor" />
        <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="payment_id" jdbcType="BIGINT" property="paymentId" />
        <result column="warehouse_type" jdbcType="TINYINT" property="warehouseType" />
        <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
        <result column="pay_off_status" jdbcType="TINYINT" property="payOffStatus" />
        <result column="customer_id" jdbcType="BIGINT" property="customerId" />
        <result column="customer" jdbcType="VARCHAR" property="customer" />
        <result column="customs_clearance_status" jdbcType="TINYINT" property="customsClearanceStatus" />
        <result column="certificate_status" jdbcType="TINYINT" property="certificateStatus" />
        <result column="certificate_consistent_status" jdbcType="TINYINT" property="certificateConsistentStatus" />
        <result column="checklist_status" jdbcType="TINYINT" property="checklistStatus" />
        <result column="manual_status" jdbcType="TINYINT" property="manualStatus" />
        <result column="payment_status" jdbcType="TINYINT" property="paymentStatus" />
        <result column="payment_type" jdbcType="TINYINT" property="paymentType" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        car_id,gmt_create,gmt_modified,car_status,order_id,shipping_order_id,notice_id,out_car_id,car_source_type,car_snap_id,spec,brand_id,brand_name,series_id,series_name,model_id,model_name,outer_id,outer_name,inner_id,inner_name,car_unique,warehouse_id,warehouse_fullname,car_data,car_accessory,key_number,odometer,parking_space,entry_date,img_entry_mass_loss,entry_mass_loss_memo,entry_mass_loss_date,entry_mass_loss_transactor,img_repertory_mass_loss,repertory_mass_loss_memo,repertory_mass_loss_date,repertory_mass_loss_transactor,delivery_date,status,payment_id,warehouse_type,process_instance_id,pay_off_status,customer_id,customer,customs_clearance_status,certificate_status,certificate_consistent_status,checklist_status,manual_status,payment_status,payment_type
    </sql>

    <select id="selectByQuery" parameterType="com.chevrolet.dal.dao.domain.query.WmsCarInfoQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from wms_car_info
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from wms_car_info where car_id = #{carId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from wms_car_info where car_id = #{carId,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.chevrolet.dal.dao.domain.WmsCarInfoDO">
        <selectKey keyProperty="carId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into wms_car_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="carStatus != null">
                car_status,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="shippingOrderId != null">
                shipping_order_id,
            </if>
            <if test="noticeId != null">
                notice_id,
            </if>
            <if test="outCarId != null">
                out_car_id,
            </if>
            <if test="carSourceType != null">
                car_source_type,
            </if>
            <if test="carSnapId != null">
                car_snap_id,
            </if>
            <if test="spec != null">
                spec,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="brandName != null">
                brand_name,
            </if>
            <if test="seriesId != null">
                series_id,
            </if>
            <if test="seriesName != null">
                series_name,
            </if>
            <if test="modelId != null">
                model_id,
            </if>
            <if test="modelName != null">
                model_name,
            </if>
            <if test="outerId != null">
                outer_id,
            </if>
            <if test="outerName != null">
                outer_name,
            </if>
            <if test="innerId != null">
                inner_id,
            </if>
            <if test="innerName != null">
                inner_name,
            </if>
            <if test="carUnique != null">
                car_unique,
            </if>
            <if test="warehouseId != null">
                warehouse_id,
            </if>
            <if test="warehouseFullname != null">
                warehouse_fullname,
            </if>
            <if test="carData != null">
                car_data,
            </if>
            <if test="carAccessory != null">
                car_accessory,
            </if>
            <if test="keyNumber != null">
                key_number,
            </if>
            <if test="odometer != null">
                odometer,
            </if>
            <if test="parkingSpace != null">
                parking_space,
            </if>
            <if test="entryDate != null">
                entry_date,
            </if>
            <if test="imgEntryMassLoss != null">
                img_entry_mass_loss,
            </if>
            <if test="entryMassLossMemo != null">
                entry_mass_loss_memo,
            </if>
            <if test="entryMassLossDate != null">
                entry_mass_loss_date,
            </if>
            <if test="entryMassLossTransactor != null">
                entry_mass_loss_transactor,
            </if>
            <if test="imgRepertoryMassLoss != null">
                img_repertory_mass_loss,
            </if>
            <if test="repertoryMassLossMemo != null">
                repertory_mass_loss_memo,
            </if>
            <if test="repertoryMassLossDate != null">
                repertory_mass_loss_date,
            </if>
            <if test="repertoryMassLossTransactor != null">
                repertory_mass_loss_transactor,
            </if>
            <if test="deliveryDate != null">
                delivery_date,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="paymentId != null">
                payment_id,
            </if>
            <if test="warehouseType != null">
                warehouse_type,
            </if>
            <if test="processInstanceId != null">
                process_instance_id,
            </if>
            <if test="payOffStatus != null">
                pay_off_status,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="customer != null">
                customer,
            </if>
            <if test="customsClearanceStatus != null">
                customs_clearance_status,
            </if>
            <if test="certificateStatus != null">
                certificate_status,
            </if>
            <if test="certificateConsistentStatus != null">
                certificate_consistent_status,
            </if>
            <if test="checklistStatus != null">
                checklist_status,
            </if>
            <if test="manualStatus != null">
                manual_status,
            </if>
            <if test="paymentStatus != null">
                payment_status,
            </if>
            <if test="paymentType != null">
                payment_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="carStatus != null">
                #{carStatus,jdbcType=TINYINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="shippingOrderId != null">
                #{shippingOrderId,jdbcType=BIGINT},
            </if>
            <if test="noticeId != null">
                #{noticeId,jdbcType=BIGINT},
            </if>
            <if test="outCarId != null">
                #{outCarId,jdbcType=BIGINT},
            </if>
            <if test="carSourceType != null">
                #{carSourceType,jdbcType=TINYINT},
            </if>
            <if test="carSnapId != null">
                #{carSnapId,jdbcType=BIGINT},
            </if>
            <if test="spec != null">
                #{spec,jdbcType=TINYINT},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=INTEGER},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="seriesId != null">
                #{seriesId,jdbcType=INTEGER},
            </if>
            <if test="seriesName != null">
                #{seriesName,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null">
                #{modelId,jdbcType=INTEGER},
            </if>
            <if test="modelName != null">
                #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="outerId != null">
                #{outerId,jdbcType=INTEGER},
            </if>
            <if test="outerName != null">
                #{outerName,jdbcType=VARCHAR},
            </if>
            <if test="innerId != null">
                #{innerId,jdbcType=INTEGER},
            </if>
            <if test="innerName != null">
                #{innerName,jdbcType=VARCHAR},
            </if>
            <if test="carUnique != null">
                #{carUnique,jdbcType=VARCHAR},
            </if>
            <if test="warehouseId != null">
                #{warehouseId,jdbcType=BIGINT},
            </if>
            <if test="warehouseFullname != null">
                #{warehouseFullname,jdbcType=VARCHAR},
            </if>
            <if test="carData != null">
                #{carData,jdbcType=VARCHAR},
            </if>
            <if test="carAccessory != null">
                #{carAccessory,jdbcType=VARCHAR},
            </if>
            <if test="keyNumber != null">
                #{keyNumber,jdbcType=TINYINT},
            </if>
            <if test="odometer != null">
                #{odometer,jdbcType=FLOAT},
            </if>
            <if test="parkingSpace != null">
                #{parkingSpace,jdbcType=VARCHAR},
            </if>
            <if test="entryDate != null">
                #{entryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="imgEntryMassLoss != null">
                #{imgEntryMassLoss,jdbcType=VARCHAR},
            </if>
            <if test="entryMassLossMemo != null">
                #{entryMassLossMemo,jdbcType=VARCHAR},
            </if>
            <if test="entryMassLossDate != null">
                #{entryMassLossDate,jdbcType=TIMESTAMP},
            </if>
            <if test="entryMassLossTransactor != null">
                #{entryMassLossTransactor,jdbcType=VARCHAR},
            </if>
            <if test="imgRepertoryMassLoss != null">
                #{imgRepertoryMassLoss,jdbcType=VARCHAR},
            </if>
            <if test="repertoryMassLossMemo != null">
                #{repertoryMassLossMemo,jdbcType=VARCHAR},
            </if>
            <if test="repertoryMassLossDate != null">
                #{repertoryMassLossDate,jdbcType=TIMESTAMP},
            </if>
            <if test="repertoryMassLossTransactor != null">
                #{repertoryMassLossTransactor,jdbcType=VARCHAR},
            </if>
            <if test="deliveryDate != null">
                #{deliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="paymentId != null">
                #{paymentId,jdbcType=BIGINT},
            </if>
            <if test="warehouseType != null">
                #{warehouseType,jdbcType=TINYINT},
            </if>
            <if test="processInstanceId != null">
                #{processInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="payOffStatus != null">
                #{payOffStatus,jdbcType=TINYINT},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customer != null">
                #{customer,jdbcType=VARCHAR},
            </if>
            <if test="customsClearanceStatus != null">
                #{customsClearanceStatus,jdbcType=TINYINT},
            </if>
            <if test="certificateStatus != null">
                #{certificateStatus,jdbcType=TINYINT},
            </if>
            <if test="certificateConsistentStatus != null">
                #{certificateConsistentStatus,jdbcType=TINYINT},
            </if>
            <if test="checklistStatus != null">
                #{checklistStatus,jdbcType=TINYINT},
            </if>
            <if test="manualStatus != null">
                #{manualStatus,jdbcType=TINYINT},
            </if>
            <if test="paymentStatus != null">
                #{paymentStatus,jdbcType=TINYINT},
            </if>
            <if test="paymentType != null">
                #{paymentType,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.chevrolet.dal.dao.domain.query.WmsCarInfoQuery" resultType="java.lang.Integer">
        select count(*) from wms_car_info
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.chevrolet.dal.dao.domain.WmsCarInfoDO">
        update wms_car_info
        <set>
            gmt_modified=now(),
            <if test="carStatus != null">
                car_status = #{carStatus,jdbcType=TINYINT},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="shippingOrderId != null">
                shipping_order_id = #{shippingOrderId,jdbcType=BIGINT},
            </if>
            <if test="noticeId != null">
                notice_id = #{noticeId,jdbcType=BIGINT},
            </if>
            <if test="outCarId != null">
                out_car_id = #{outCarId,jdbcType=BIGINT},
            </if>
            <if test="carSourceType != null">
                car_source_type = #{carSourceType,jdbcType=TINYINT},
            </if>
            <if test="carSnapId != null">
                car_snap_id = #{carSnapId,jdbcType=BIGINT},
            </if>
            <if test="spec != null">
                spec = #{spec,jdbcType=TINYINT},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=INTEGER},
            </if>
            <if test="brandName != null">
                brand_name = #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="seriesId != null">
                series_id = #{seriesId,jdbcType=INTEGER},
            </if>
            <if test="seriesName != null">
                series_name = #{seriesName,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null">
                model_id = #{modelId,jdbcType=INTEGER},
            </if>
            <if test="modelName != null">
                model_name = #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="outerId != null">
                outer_id = #{outerId,jdbcType=INTEGER},
            </if>
            <if test="outerName != null">
                outer_name = #{outerName,jdbcType=VARCHAR},
            </if>
            <if test="innerId != null">
                inner_id = #{innerId,jdbcType=INTEGER},
            </if>
            <if test="innerName != null">
                inner_name = #{innerName,jdbcType=VARCHAR},
            </if>
            <if test="carUnique != null">
                car_unique = #{carUnique,jdbcType=VARCHAR},
            </if>
            <if test="warehouseId != null">
                warehouse_id = #{warehouseId,jdbcType=BIGINT},
            </if>
            <if test="warehouseFullname != null">
                warehouse_fullname = #{warehouseFullname,jdbcType=VARCHAR},
            </if>
            <if test="carData != null">
                car_data = #{carData,jdbcType=VARCHAR},
            </if>
            <if test="carAccessory != null">
                car_accessory = #{carAccessory,jdbcType=VARCHAR},
            </if>
            <if test="keyNumber != null">
                key_number = #{keyNumber,jdbcType=TINYINT},
            </if>
            <if test="odometer != null">
                odometer = #{odometer,jdbcType=FLOAT},
            </if>
            <if test="parkingSpace != null">
                parking_space = #{parkingSpace,jdbcType=VARCHAR},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="imgEntryMassLoss != null">
                img_entry_mass_loss = #{imgEntryMassLoss,jdbcType=VARCHAR},
            </if>
            <if test="entryMassLossMemo != null">
                entry_mass_loss_memo = #{entryMassLossMemo,jdbcType=VARCHAR},
            </if>
            <if test="entryMassLossDate != null">
                entry_mass_loss_date = #{entryMassLossDate,jdbcType=TIMESTAMP},
            </if>
            <if test="entryMassLossTransactor != null">
                entry_mass_loss_transactor = #{entryMassLossTransactor,jdbcType=VARCHAR},
            </if>
            <if test="imgRepertoryMassLoss != null">
                img_repertory_mass_loss = #{imgRepertoryMassLoss,jdbcType=VARCHAR},
            </if>
            <if test="repertoryMassLossMemo != null">
                repertory_mass_loss_memo = #{repertoryMassLossMemo,jdbcType=VARCHAR},
            </if>
            <if test="repertoryMassLossDate != null">
                repertory_mass_loss_date = #{repertoryMassLossDate,jdbcType=TIMESTAMP},
            </if>
            <if test="repertoryMassLossTransactor != null">
                repertory_mass_loss_transactor = #{repertoryMassLossTransactor,jdbcType=VARCHAR},
            </if>
            <if test="deliveryDate != null">
                delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="paymentId != null">
                payment_id = #{paymentId,jdbcType=BIGINT},
            </if>
            <if test="warehouseType != null">
                warehouse_type = #{warehouseType,jdbcType=TINYINT},
            </if>
            <if test="processInstanceId != null">
                process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="payOffStatus != null">
                pay_off_status = #{payOffStatus,jdbcType=TINYINT},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customer != null">
                customer = #{customer,jdbcType=VARCHAR},
            </if>
            <if test="customsClearanceStatus != null">
                customs_clearance_status = #{customsClearanceStatus,jdbcType=TINYINT},
            </if>
            <if test="certificateStatus != null">
                certificate_status = #{certificateStatus,jdbcType=TINYINT},
            </if>
            <if test="certificateConsistentStatus != null">
                certificate_consistent_status = #{certificateConsistentStatus,jdbcType=TINYINT},
            </if>
            <if test="checklistStatus != null">
                checklist_status = #{checklistStatus,jdbcType=TINYINT},
            </if>
            <if test="manualStatus != null">
                manual_status = #{manualStatus,jdbcType=TINYINT},
            </if>
            <if test="paymentStatus != null">
                payment_status = #{paymentStatus,jdbcType=TINYINT},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType,jdbcType=TINYINT},
            </if>
        </set>
        where car_id = #{carId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
