<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chevrolet.dal.dao.mapper.WmsWarehouseCarMoveRecordMapper">

    <resultMap id="BaseResultMap" type="com.chevrolet.dal.dao.domain.WmsWarehouseCarMoveRecordDO">
        <id column="record_id" jdbcType="BIGINT" property="recordId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="old_car_id" jdbcType="BIGINT" property="oldCarId" />
        <result column="new_car_id" jdbcType="BIGINT" property="newCarId" />
        <result column="old_warehouse_id" jdbcType="BIGINT" property="oldWarehouseId" />
        <result column="new_warehouse_id" jdbcType="BIGINT" property="newWarehouseId" />
        <result column="car_status_before_move" jdbcType="TINYINT" property="carStatusBeforeMove" />
        <result column="move_status" jdbcType="TINYINT" property="moveStatus" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        record_id,gmt_create,gmt_modified,old_car_id,new_car_id,old_warehouse_id,new_warehouse_id,car_status_before_move,move_status
    </sql>

    <select id="selectByQuery" parameterType="com.chevrolet.dal.dao.domain.query.WmsWarehouseCarMoveRecordQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from wms_warehouse_car_move_record
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from wms_warehouse_car_move_record where record_id = #{recordId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from wms_warehouse_car_move_record where record_id = #{recordId,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.chevrolet.dal.dao.domain.WmsWarehouseCarMoveRecordDO">
        <selectKey keyProperty="recordId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into wms_warehouse_car_move_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="oldCarId != null">
                old_car_id,
            </if>
            <if test="newCarId != null">
                new_car_id,
            </if>
            <if test="oldWarehouseId != null">
                old_warehouse_id,
            </if>
            <if test="newWarehouseId != null">
                new_warehouse_id,
            </if>
            <if test="carStatusBeforeMove != null">
                car_status_before_move,
            </if>
            <if test="moveStatus != null">
                move_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="oldCarId != null">
                #{oldCarId,jdbcType=BIGINT},
            </if>
            <if test="newCarId != null">
                #{newCarId,jdbcType=BIGINT},
            </if>
            <if test="oldWarehouseId != null">
                #{oldWarehouseId,jdbcType=BIGINT},
            </if>
            <if test="newWarehouseId != null">
                #{newWarehouseId,jdbcType=BIGINT},
            </if>
            <if test="carStatusBeforeMove != null">
                #{carStatusBeforeMove,jdbcType=TINYINT},
            </if>
            <if test="moveStatus != null">
                #{moveStatus,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.chevrolet.dal.dao.domain.query.WmsWarehouseCarMoveRecordQuery" resultType="java.lang.Integer">
        select count(*) from wms_warehouse_car_move_record
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.chevrolet.dal.dao.domain.WmsWarehouseCarMoveRecordDO">
        update wms_warehouse_car_move_record
        <set>
            gmt_modified=now(),
            <if test="oldCarId != null">
                old_car_id = #{oldCarId,jdbcType=BIGINT},
            </if>
            <if test="newCarId != null">
                new_car_id = #{newCarId,jdbcType=BIGINT},
            </if>
            <if test="oldWarehouseId != null">
                old_warehouse_id = #{oldWarehouseId,jdbcType=BIGINT},
            </if>
            <if test="newWarehouseId != null">
                new_warehouse_id = #{newWarehouseId,jdbcType=BIGINT},
            </if>
            <if test="carStatusBeforeMove != null">
                car_status_before_move = #{carStatusBeforeMove,jdbcType=TINYINT},
            </if>
            <if test="moveStatus != null">
                move_status = #{moveStatus,jdbcType=TINYINT},
            </if>
        </set>
        where record_id = #{recordId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
