<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chevrolet.dal.dao.mapper.ext.DaasOnlinePriceExtMapper">
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="daasOnlinePriceId">
        INSERT INTO cc_daas_online_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="list[0].versionId != null">
                version_id,
            </if>
            <if test="list[0].versionFullName != null">
                version_full_name,
            </if>
            <if test="list[0].brandId != null">
                brand_id,
            </if>
            <if test="list[0].brandName != null">
                brand_name,
            </if>
            <if test="list[0].subModelId != null">
                sub_model_id,
            </if>
            <if test="list[0].subModelName != null">
                sub_model_name,
            </if>
            <if test="list[0].manfId != null">
                manf_id,
            </if>
            <if test="list[0].manfName != null">
                manf_name,
            </if>
            <if test="list[0].engineTypeId != null">
                engine_type_id,
            </if>
            <if test="list[0].engineTypeName != null">
                engine_type_name,
            </if>
            <if test="list[0].tranTypeId != null">
                tran_type_id,
            </if>
            <if test="list[0].tranTypeName != null">
                tran_type_name,
            </if>
            <if test="list[0].modelYear != null">
                model_year,
            </if>
            <if test="list[0].provinceId != null">
                province_id,
            </if>
            <if test="list[0].provinceName != null">
                province_name,
            </if>
            <if test="list[0].cityId != null">
                city_id,
            </if>
            <if test="list[0].cityName != null">
                city_name,
            </if>
            <if test="list[0].msrp != null">
                msrp,
            </if>
            <if test="list[0].salePrice != null">
                sale_price,
            </if>
            <if test="list[0].dataYear != null">
                data_year,
            </if>
            <if test="list[0].dataMonth != null">
                data_month,
            </if>
            <if test="list[0].dataWeek != null">
                data_week,
            </if>
            <if test="list[0].isDeleted != null">
                is_deleted,
            </if>
        </trim>
        VALUES
        <foreach collection="list" item="daasOnlinePriceDO" index="index" separator="," >
            <trim prefix="(" suffix=")" suffixOverrides=",">
                now(),now(),
                <if test="daasOnlinePriceDO.versionId != null">
                    #{daasOnlinePriceDO.versionId,jdbcType=BIGINT},
                </if>
                <if test="daasOnlinePriceDO.versionFullName != null">
                    #{daasOnlinePriceDO.versionFullName,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.brandId != null">
                    #{daasOnlinePriceDO.brandId,jdbcType=BIGINT},
                </if>
                <if test="daasOnlinePriceDO.brandName != null">
                    #{daasOnlinePriceDO.brandName,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.subModelId != null">
                    #{daasOnlinePriceDO.subModelId,jdbcType=BIGINT},
                </if>
                <if test="daasOnlinePriceDO.subModelName != null">
                    #{daasOnlinePriceDO.subModelName,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.manfId != null">
                    #{daasOnlinePriceDO.manfId,jdbcType=BIGINT},
                </if>
                <if test="daasOnlinePriceDO.manfName != null">
                    #{daasOnlinePriceDO.manfName,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.engineTypeId != null">
                    #{daasOnlinePriceDO.engineTypeId,jdbcType=BIGINT},
                </if>
                <if test="daasOnlinePriceDO.engineTypeName != null">
                    #{daasOnlinePriceDO.engineTypeName,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.tranTypeId != null">
                    #{daasOnlinePriceDO.tranTypeId,jdbcType=BIGINT},
                </if>
                <if test="daasOnlinePriceDO.tranTypeName != null">
                    #{daasOnlinePriceDO.tranTypeName,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.modelYear != null">
                    #{daasOnlinePriceDO.modelYear,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.provinceId != null">
                    #{daasOnlinePriceDO.provinceId,jdbcType=BIGINT},
                </if>
                <if test="daasOnlinePriceDO.provinceName != null">
                    #{daasOnlinePriceDO.provinceName,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.cityId != null">
                    #{daasOnlinePriceDO.cityId,jdbcType=BIGINT},
                </if>
                <if test="daasOnlinePriceDO.cityName != null">
                    #{daasOnlinePriceDO.cityName,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.msrp != null">
                    #{daasOnlinePriceDO.msrp,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.salePrice != null">
                    #{daasOnlinePriceDO.salePrice,jdbcType=VARCHAR},
                </if>
                <if test="daasOnlinePriceDO.dataYear != null">
                    #{daasOnlinePriceDO.dataYear,jdbcType=INTEGER},
                </if>
                <if test="daasOnlinePriceDO.dataMonth != null">
                    #{daasOnlinePriceDO.dataMonth,jdbcType=INTEGER},
                </if>
                <if test="daasOnlinePriceDO.dataWeek != null">
                    #{daasOnlinePriceDO.dataWeek,jdbcType=INTEGER},
                </if>
                <if test="daasOnlinePriceDO.isDeleted != null">
                    #{daasOnlinePriceDO.isDeleted,jdbcType=INTEGER},
                </if>
            </trim>
        </foreach>
    </insert>

    <sql id="truncateData">
        truncate table cc_daas_online_price
    </sql>

</mapper>